<h1>Restaurants</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<% @restaurants.each do |t| %>
  <h1><%= t.name %></h1>
  <p><%= t.address %></p>
  <p><%= t.category %></p>
<% end %>
<%=  %>
